<%= form_with(model: user) do |form| %>
  <% !if @error.empty? %>
    <div style="color: red">
      <ul>
        <li><%= error %></li>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_area :email %>
  </div>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_area :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_area :last_name %>
  </div>

  <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.text_area :role %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.text_area :password %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
